* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/** box1 **/

.navbar {
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 110px;
    border: 2px solid transparent;
}

.logo {
    background-image: url(./Assists/amazon_logo.png);
    background-size: cover;
    height: 45px;
    width: 100%;
}

.border:hover {
    border: 1.5px solid white;
}

/** box2 **/
